# Database configuration (Prisma SQLite for local, or PostgreSQL/MySQL URL for production)
DATABASE_URL="file:./dev.db"

# Admin Access Security
ADMIN_USERNAME="saurav"
ADMIN_PASSWORD="admin"

# Google Drive Storage Integration
NEXT_PUBLIC_GOOGLE_DRIVE_FOLDER_ID="1FvEtW6gsmQtGIw7mAMD5ShEiSraZ0pUO"

# Environment Settings
NEXT_TELEMETRY_DISABLED=1
NODE_ENV="development"
